.uqir__top-bar {
  padding: 0 1rem;
  .top-bar-left li {
    font-size: 0.75em;
    padding: 0.5em 0.1em;
  }
  .menu .active > a {
    background: none;
    color: #CC7A1F;
    font-weight: 700;
  }
  li.menu-text {
    text-align: center;
    padding: 0 2em;
    img {
      width: 70%;
    }
  }
  > a:link,
    a:visited {
      color: #898989;
  }
  input[type='search'] {
    border-radius: 35px;
    padding: 1.2em 1.6em;
    height: 0.5em;
    font-size: 0.8em;
    max-width: inherit;
    width: 250px;
  }
}

.products__panel {
  border: none;
  .tabs-panel {
    padding: 0;
  }
}
.tabs--inline-block {
  @include tabs-container;
  display: inline-block;
  border: 1px solid #545454;
  margin-top: 3em;
  margin-bottom: 2em;
}

.weps__tabs > li:focus {
  outline: 0;
}

.weps__tabs > li > a {
  padding: 0.55rem 0.8rem;
  color: #545454;
  border-right: 1px solid #545454;
}

.weps__tabs > li:first-child > a {
  border-left: none;
}

.weps__tabs > li:last-child > a {
  border-right: none;
}

.weps__tabs .tabs-title > a:focus,.weps__tabs .tabs-title > a[aria-selected='true'] {
  color: #cc7a1f;
  background: none;
  font-weight: 600;
}

.weps__tabs .tabs-title > a:hover {
    background: #fefefe;
    color: #cc7a1f;
}

.product__featured--orbit-nav {
  margin-top: 4em;
  text-align: center;
}

.main--orbit .orbit-next,
.main--orbit .orbit-previous {
  font-size: 4em;
}

.product__tile--orbit .orbit-next, .product__tile--orbit .orbit-previous {
  color: #545454;
  padding: 0.6rem 1rem;
  border: 1px solid #545454;
  font-size: .8em;
  bottom: 0;
  position: inherit;
}

.product__tile--orbit .orbit-next:focus, .product__tile--orbit .orbit-previous:focus, {
  background: none;
}
.product__tile--orbit .orbit-next:hover, .product__tile--orbit .orbit-previous:hover,
.product__tile--orbit .orbit-next:visited, .product__tile--orbit .orbit-previous:visited, {
  background: none;
  color: #cc7a1f;
  cursor: pointer;
}

.product__tile--orbit .orbit-previous {
  top: inherit;
  left: inherit;
}

.product__tile--orbit .orbit-next {
  top: inherit;
  right: inherit;
}

.featured--product-image {
  width: 100%;
}

.featured--action {
  text-align: right;
  margin-top: 1em;
  .button {
    padding: 0.35em 1.6em;
  }
}

.footer.callout {
  background: #222222
}
