<div class="footer callout large secondary">
  <div class="row flex align center">
    <div class="large-4 columns text-center">
      <img src="assets/img/uqir logo_footer.png">
      <div class="social--rows">
        <a href="#"><i class="fi-rss"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="#"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-instagram"></i></a>
      </div>
    </div>
    <div class="large-8 columns">
      <div class="row">
        <div class="large-3 columns">
          <div class="header">
            About Us
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nemo explicabo debitis delectus quis illo consequatur excepturi, ut impedit qui. Tenetur doloribus quos reiciendis illo expedita quidem placeat dignissimos similique.
          </div>
        </div>
        <div class="large-3 columns">
          <div class="header">
            What's New
          </div>
          <ul class="menu vertical">
            <li><a href="#">Featured</a></li>
            <li><a href="#">New Release</a></li>
          </ul>
          <div class="header">
            Shop
          </div>
          <ul class="menu vertical">
            <li><a href="#">All Product</a></li>
            <li><a href="#">Product Category</a></li>
          </ul>
          <a class="header">
            Our Store
          </a>
          <a class="header">
            Lookbook
          </a>
        </div>
        <div class="large-3 columns">
          <div class="header">
            Help
          </div>
          <ul class="menu vertical">
            <li><a href="#">How To Buy</a></li>
            <li><a href="#">Care Instruction</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="large-3 columns">
          <div class="header">
            Contact Us
          </div>
          <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
            <li><a href="#">Four</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
